*{margin:0; padding: 0;}
body{
    font-family: Arial, Helvetica, sans-serif !important;
}
a {
    color: white !important;
}
@media (max-width:576px){
    *{}

.col-xs-4.col-md-2 {
    float: left !important;
    width: 33%;
}

.row {
}

.col-xs-4.col-md-2 {
    display:;
}

.row.ahihi {
    text-align: center;
}

.col-sm-5 {
    padding-top: 20px;
}

.col-sm-3.member {
    margin-top: 60px !important;
}

img.ourTeam {
    height: 100% !important;
}

strong.IT2Member {
    padding-left: 4%;
}

i.fab.fa-facebook-f {
    padding-left: 20% !important;
    padding-top: 6% !important;
}

.lienhe {
    width: 60% !important;
    left: 20% !important;
    bottom: -3% !important;
}

i.fab.fa-twitter {
    padding: 0px 25px !important;
}

p {
    margin: auto;
}

p.Text {
    width: 100% !important;
}

.col-sm-6 {
    padding-top: 30px;
}

.tieude {
    width: 75%;
}

ul.navbar-nav {
    text-align: center !important;
    margin-left: -133px;
    /* background: #00000059; */
}

.row.hihi {
    left: 4% !important;
    margin-top:2% !important;
    /* top: -18px !important; */
}

.btn.btn-warning {
    float: none !important;
}

.col-sm-4 {
    text-align: center !important;
}

a {
    text-align: center !important;
}

a.nav-link:hover {
    transition: 0.4s;
    color: whitesmoke;
    background: #00000026;
}

a.navbar-brand {
    padding: 0 !important;
    margin: 0px !important;
}
}
a.navbar-brand {
    margin-left: 190px;
}
div#collapsibleNavbar {
    margin-left: 132px;
    font-size: 15px;
}
.gioithieu{
    position: relative;
}
.row.hihi {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10%;
}
/*  css cho services  */
.icon{
    background: #f5f5f5;
    border: solid 1px #00000038;
    border-radius: 50%;
    /* clip-path: circle(50%); */
    height: 1em;
    width: 1em;
    margin: auto;
    position: relative;
    margin-top: 20px;
}
.hinhtron{
    content:"";
    /* display: block; */
    position: absolute;
    top:-10px;
    left:50%;
    height: 1em;
    width: 1px;
    background:#00000038 ;
    z-index: 100;
    margin-top:-6px;
}
.hinhbao{
    background: #f5f5f5;
    border: solid 1px #00000038;
    border-radius: 50%;
    /* clip-path: circle(50%); */
    height: 2.4em;
    width: 2.4em;
    position: relative;
    
}
i{
    cursor: pointer;
}
/*  css cho about us  */
.aboutus{
    padding-top: 50px;
    background: #f4f5f9;
    cursor: pointer;
}
.award{
width: 6em;
height: 6em;
background: #f5f5f5;
margin:10px 5px;
border: solid 1px #00000038;
display: inline-block;
text-align: center;
}
.layer{
    position: relative;
    width: 80%;
    height: 100%;
    background:#fec500;
    z-index: 1;
    top: -105%;
    left: 3%;
} 
.anhAboutus img{
    width: 80%;
    height: 100%;
    z-index: 2;
    /* position: absolute; */
    position: relative;
}
.anhOurproject{
    position: relative;
    height: 300px;
}
.den{
    position: absolute;
    top:0;
    left:0;
    background: #000000d6;
    height: 300px;
    width: 100%;
    color:white;
}
.btn.btn-outline-success {
    color: #ffffffb8;
    border-color: #ffffff57;
    width: 100px;
}
.btn.btn-warning {
    color: white;
    background-color: #ffc107;
    border-color: #ffffff85;
    width: 100px;
}
p.Text {
    padding-bottom: 13px;
    padding-top: 10px;
}
.col-sm-3 {
    padding: 0 !important;
}
.hi{
position: relative;
height: 100%;
}
.overlay{
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
background:#000000b8;
color:white;
padding-top:32%;
opacity: 0;
visibility: hidden;
border: solid 5px #fec500;
}
.hi img{
    width: 100%;
    height: 100%;
}
.hi:hover .overlay{
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
    background: #000000b8;
}
.btn.btn-warning.mission {
    width: 120px;
}
.col-sm-4 {
    padding: 0px !important;
    overflow: hidden;
}
.process{
    display: inline-flex;
}
.process1 {
    padding: 0 15px;
    position: relative;
    display: inline-block;
}
.duongthang{
    content:"";
    background: #000000b8;
    width: 1px;
    height: 63px;
    position: absolute;
    top: 0px;
    left: 96%;
}
p.discussion {
    margin-left: -14px;
}
img.ourTeam {
    width: 100%;
    border: solid 1px burlywood;
    height: 380px;
}
img.ourTeam:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
    transition: 0.4s;
}
.col-sm-3 {
    position: relative;
}

.lienhe {
    background: #fec500;
    align-items: center;
    position: absolute;
    bottom: 15%;
    left: 13%;
    width: 75%;
    height: 6%;
    border-radius: 3px;
    /* margin: auto; */
    margin-left: 1;
}

i.fab.fa-facebook-f {
    padding: 9px 20px;
}

i.fab.fa-twitter {
    padding: 3px 42px;
}

i.fab.fa-google-plus-g {
    padding: 9px 12px;
}
.award:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
    transition: 0.4s;
}
