*{margin:0; padding: 0;}
body{
    font-family: Arial, Helvetica, sans-serif !important;
}
a {
    color: white !important;
}
span.navbar-toggler-icon {
    background: #fec500;
}
@media (max-width:576px){
    *{}

.benphai {
    padding: 0 !important;
}

.bentrai {
    width: 60% !important;
    height: 116px !important;
}

p.text1 {
    margin: 0!important;
}

.benphai {
    margin-left: 5%;
}

img.trai {
    text-align: center;
    /* margin: auto !important; */
    margin-left: 5%;
}

p.text1 {
    width: 75%;
    float: none !important;
}

.text {
    margin-left: 2%;
}

.text {}

.date {
    left: 10% !important;
}

.lienhe2 {
    margin-top: 0 !important;
}

.phai {
    float: none !important;
    margin: auto;
}

.trai {
    float: none !important;
    margin: auto;
}

.col-sm-3.abc {
    text-align: center;
}

.col-sm-3.newletter {
    text-align: center !important;
}

.col-sm-3.ctus {
    text-align: center;
}

.col-sm-2.text-xs-center {
    text-align: center;
    list-style: none !important;
}

.col-xs-4.col-md-2 {
    float: left !important;
    width: 33%;
}

.row {
}
.row.ahihi {
    text-align: center;
}

.col-sm-5 {
    padding-top: 20px;
}

.col-sm-3.member {
    margin-top: 60px !important;
}

img.ourTeam {
    height: 100% !important;
}

strong.IT2Member {
    padding-left: 4%;
}

i.fab.fa-facebook-f {
    padding-left: 20% !important;
    padding-top: 6% !important;
}

.lienhe {
    width: 60% !important;
    left: 20% !important;
    bottom: -3% !important;
}

i.fab.fa-twitter {
    padding: 0px 25px !important;
}

p {
    margin: auto;
}

p.Text {
    width: 100% !important;
}

.col-sm-6 {
    padding-top: 30px;
}

.tieude {
    width: 75%;
}

ul.navbar-nav {
    text-align: center !important;
    margin-left: -133px;
    /* background: #00000059; */
}

.row.hihi {
    left: 4% !important;
    margin-top:2% !important;
    /* top: -18px !important; */
}

.btn.btn-warning {
    float: none !important;
}

.col-sm-4 {
    text-align: center !important;
}

a {
    text-align: center !important;
}

a.nav-link:hover {
    transition: 0.4s;
    color: whitesmoke;
    background: #00000026;
}

a.navbar-brand {
    padding: 0 !important;
    margin: 0px !important;
}
ul{
    list-style: none;
}
}
a.navbar-brand {
    margin-left: 190px;
}
div#collapsibleNavbar {
    margin-left: 132px;
    font-size: 15px;
}
.gioithieu{
    position: relative;
}
.row.hihi {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10%;
}
/*  css cho services  */
.icon{
    background: #f5f5f5;
    border: solid 1px #00000038;
    border-radius: 50%;
    /* clip-path: circle(50%); */
    height: 1em;
    width: 1em;
    margin: auto;
    position: relative;
    margin-top: 20px;
}
.hinhtron{
    content:"";
    /* display: block; */
    position: absolute;
    top:-10px;
    left:50%;
    height: 1em;
    width: 1px;
    background:#00000038 ;
    z-index: 100;
    margin-top:-6px;
}
.hinhbao{
    background: #f5f5f5;
    border: solid 1px #00000038;
    border-radius: 50%;
    /* clip-path: circle(50%); */
    height: 2.4em;
    width: 2.4em;
    position: relative;
    
}
i{
    cursor: pointer;
}
/*  css cho about us  */
.aboutus{
    padding-top: 50px;
    background: #f4f5f9;
    cursor: pointer;
}
.award{
width: 6em;
height: 6em;
background: #f5f5f5;
margin:10px 5px;
border: solid 1px #00000038;
display: inline-block;
text-align: center;
}
.layer{
    position: relative;
    width: 80%;
    height: 100%;
    background:#fec500;
    z-index: 1;
    top: -105%;
    left: 3%;
} 
.anhAboutus img{
    width: 80%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
    /* position: absolute; */
    position: relative;
}
.anhOurproject{
    position: relative;
    height: 300px;
}
.den{
    position: absolute;
    top:0;
    left:0;
    background: #000000d6;
    height: 300px;
    width: 100%;
    color:white;
}
.btn.btn-outline-success {
    color: #ffffffb8;
    border-color: #ffffff57;
    width: 100px;
}
.btn.btn-warning {
    color: white;
    background-color: #ffc107;
    border-color: #ffffff85;
    width: 100px;
}
p.Text {
    padding-bottom: 13px;
    padding-top: 10px;
}
.col-sm-3 {
    padding: 0 !important;
}
.hi{
position: relative;
height: 100%;
}
.overlay{
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
background:#000000b8;
color:white;
padding-top:32%;
opacity: 0;
visibility: hidden;
border: solid 5px #fec500;
}
.hi img{
    width: 100%;
    height: 100%;
}
.hi:hover .overlay{
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
    background: #000000b8;
}
.btn.btn-warning.mission {
    width: 120px;
}
.col-sm-4 {
    padding: 0px !important;
    overflow: hidden;
}
.process{
    display: inline-flex;
}
.process1 {
    padding: 0 15px;
    position: relative;
    display: inline-block;
}
.duongthang{
    content:"";
    background: #000000b8;
    width: 1px;
    height: 63px;
    position: absolute;
    top: 0px;
    left: 96%;
}
p.discussion {
    margin-left: -14px;
}
img.ourTeam {
    width: 100%;
    border: solid 1px burlywood;
    height: 380px;
    object-fit: cover;
}
img.ourTeam:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
    transition: 0.4s;
}
.col-sm-3 {
    position: relative;
}

.lienhe {
    background: #fec500;
    align-items: center;
    position: absolute;
    bottom: 15%;
    left: 13%;
    width: 75%;
    height: 6%;
    border-radius: 3px;
    /* margin: auto; */
    margin-left: 1;
}
.award:hover{
    box-shadow: 10px 10px 5px #aaaaaa;
    transition: 0.4s;
}
.iconn {
    display: flex !important;
    padding: 0px 12px !important;
}
.fb{
    padding:0p 12px !important;
}
input#fname {
    margin-top: 10px;
    background: #343434;
    color: white;
    border: solid 1px white;
}

input[type="password"] {
    margin-top: 10px;
    background: #343434;
    border: solid 0.5px white;
}

input[type="submit"] {
    margin-top: 10px;
    color: black;
    background: #fec500;
    width: 90px;
    border: none;
    font-weight: 700;
    font-size: 15px;
}
textarea {
    margin-top: 10px !important ;
    background: #343434;
    color:white;
}
@media(min-width:768px) and (max-width:978){
    *{}

strong.navigation {
    margin-left: -12px;
}
    
}
.contact01{
    background: url("images/ContactImage_02.jpg");
    height: 200px;
    width: 100%;
    position: relative;
    object-fit: contain;
}
.dacap{
    text-align: center !important ;
    padding-top: 70px;
    margin:auto;
    color:white;
    font-weight: 800;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
}
.trai {
    float: left;
    width: 10%;
}

.phai {
    float: left;
    width: 90%;
}
.twitter{
    display: inline-flex;
    justify-content: space-around;
    width: 60%;
}
article {
    border: solid 0.5px black;
    padding: 16px;
    /* margin-top: 10%; */
}
.lienhe2{
    margin-top: 5%;
}
.so1,.so2{
    float: left;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #58257b;
    border-radius: 4px;
}
.so3{
    width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.so4{
    color:black;
    font-size:12px;
    font-weight: 600;
    height: 30px;
    width: 120px;
    background: #fec500;
    border:none;
    border-radius: 4px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.bando{
    width: 100%;
    height: 200px;
    opacity: 1;
}
.map{
    margin-top:5%;
    position: relative;
    z-index: 6;
}
.lopden{
    position: absolute;
    top:0;
    left: 0;
    background: #00000073;
    width: 100%;
    height: 100%;
    z-index: 2;
}
/*  css cho blog*/
.blog1{
    background: #f4f5f9;
}
.row.bl{
    padding-top: 40px;
    padding-bottom: 40px;
}
.col-sm-5.Blog {
    background: url("images/blog_1_03.jpg");
    width: 100%;
    height: 350px;
    background-size: cover;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.date{
    position: absolute;
    top:0;
    left:5%;
    width:50px;
    height: 50px;
    background: #fec500;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
}
.text{
 position: absolute;
 bottom: 5%;
 left: 5% !important;
 color:white;
 /* text-align: center; */
}
.text1{
    justify-content: space-between;
    font-size:10px;
    font-weight: 800;
    margin-bottom: 0% !important;
}
.text2{
    font-size:18px;
    font-weight: 900;
}
.col-sm-3.Blog2 {

}
.khoinho{
    display:flex ;
    padding-top: 10px;
    padding-left:10px;
}
.bentrai{
    background: url("images/blog3_03.jpg");
    width: 150px;
    height: 100px;
    background-size: cover;
}
.benphai{
    /* padding-left: 10px; */
    padding-left: 10px;
}
/* .trai{
    width:115px;
    height: 118px;
    object-fit: cover;
} */
/*  css cho blog 1 */
::-webkit-input-placeholder {
    font-style: italic;
  }
.search-box {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    /* padding: 0px 0px 0px 15px; */
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    }
     
    .search-box.hovered, .search-box:hover, .search-box:active {  
    border: 1px solid #aaa;
    }
     
    .search-box input[type=text] { 
     border: none;  
    box-shadow: none;  
    display: inline-block;  
    padding: 0;  
    background: transparent;
    }
     
    .search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {  
    box-shadow: none;
    }
     
    .search-box .search-btn {
    position: absolute;
    right: 2px;
    color: #fec500;
    border-radius: 3px;
    font-size: 21px;
    /* padding: 5px 10px 1px; */
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    }
    .Title1{
        font-size: 17px;
        font-weight: 800;
    }
    ul.tag{
        margin-left: 5%;
        list-style: circle;
        padding-top: 10px;
    }
    nav.tag1{
        border-bottom: solid 1px #00000094;
        padding-top: 10px;
    }
    .building1{
        background: #fec500;
        width: 100px;
        height: 20px;
    }
    .btn.btn:hover{
        background: #fec500 !important;
    }
    nav.tag2{
        padding-top: 10px;
    }
    .anhBlog{
        width: 100%;
        height: 300px;
    }
    button.submition {
        background: #fec500;
        border: none;
        border-radius: 3px;
        border: solid 1px #00000069;
        font-size: 12px;
        width: 100px;
        height: 30px;
        font-weight: 800;
        font-family: Arial, Helvetica, sans-serif;
        margin-top:10px;
    }
    .blog1_article{
        margin-top: 10px;
        margin-bottom: 20px;
    }
   .gg{
      height: 20px;
      width: 20px;
      border: solid 1px black;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-left: 10px;
      font-size:10px;
      font-weight: bold;
      margin: auto;
   }
   .gg:hover{
       background: #fec500;
       color:white;
   }
.col.Slide{
    display: flex;
    padding: 10px 10px;
}   
.cv{
    width: 100px;
    height: 25px;
    border:solid 1px #00000059;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:13px;
    font-weight: 700;
    margin-top: 20px;
    /* margin-right: 100px; */
}
.cv:hover{
    background: #fec500;
    color:white;
}
.ourProject2{
  padding: 20px 20px;  
}